# 3 Fundamental Concepts

## 3.1 CREATE TABLE
-- test.db

- `CREATE TABLE test (
  a INTEGER,
  b TEXT
);`
    - creates a table according to the provided parameters.
    - column definitions are called the 'database schema' or 'table schema' (part between the paranthesis)
    - note that last item can not have a comma (syntax error)
    

- `INSERT INTO test VALUES ( 1, 'a' );`
    - notice that column names can be skipped when adding all columns
- `INSERT INTO test VALUES ( 2, 'b' );`
- `INSERT INTO test VALUES ( 3, 'c' );`
- `SELECT * FROM test;`

## 3.2 DROP TABLE
-- test.db

- `CREATE TABLE test ( a TEXT, b TEXT );`
    - error: table already exists
    - if you want to create it differently, you must delete the  table first
- `INSERT INTO test VALUES ( 'one', 'two' );`
- `SELECT * FROM test;`
---
- `DROP TABLE test;`
    - use this to delete the entire table first
    - can use only if table exists
- `DROP TABLE IF EXISTS test;`
    - delete if it exists
    
## 3.3 INSERT INTO
-- test.db <br>
to add one or many rows!

- `CREATE TABLE test ( a INTEGER, b TEXT, c TEXT );`

- `INSERT INTO test VALUES ( 1, 'This', 'Right here!' ); `
- `INSERT INTO test ( b, c ) VALUES ( 'That', 'Over there!' ); `
    - don't always have to add data to all columns
    - remaining rows are NULL
- `INSERT INTO test DEFAULT VALUES;`
    - adds a row of NULLs
- `INSERT INTO test ( a, b, c ) SELECT id, name, description from item;`
    - adds rows from a different table (all rows)

## 3.4 DELETE FROM
-- test.db

- `DELETE FROM test WHERE a = 3;`
    - deletes row where a = 3
- `SELECT * FROM test WHERE a = 1;`
    - good practice to view these columns before deleting
- `DELETE FROM test WHERE a = 1;`
    - deletes rows where a = 1
    
## 3.5 NULL
-- test.db

- `SELECT * FROM test WHERE a = NULL;`
    - does not work because NULL is not a value
- `SELECT * FROM test WHERE a IS NULL;`
    - correct way to query NULL value
- `SELECT * FROM test WHERE a IS NOT NULL;`
    - query non-NULL values
- `INSERT INTO test ( a, b, c ) VALUES ( 0, NULL, '' );`
    - 0 is not a NULL value
    - '' is not a NULL value
- `SELECT * FROM test WHERE b IS NULL;`
- `SELECT * FROM test WHERE b = '';`
    - doesn't return anything (NULL is not '')
- `SELECT * FROM test WHERE c = '';`
    - this works
- `SELECT * FROM test WHERE c IS NULL;`
    - '' is not NULL
---
- `DROP TABLE IF EXISTS test;`
- `CREATE TABLE test (
  a INTEGER NOT NULL,
  b TEXT NOT NULL,
  c TEXT
);`
    - create new table with a NOT NULL constraint
    
- `INSERT INTO test VALUES ( 1, 'this', 'that' );`
- `SELECT * FROM test;`

- `INSERT INTO test ( b, c ) VALUES ( 'one', 'two' );`
- `INSERT INTO test ( a, c ) VALUES ( 1, 'two' );`
- `INSERT INTO test ( a, b ) VALUES ( 1, 'two' );`
- `DROP TABLE IF EXISTS test;`